*           text=auto

*.vson      text eol=lf encoding=UTF-8
*.json      text eol=lf encoding=UTF-8
*.az        text eol=lf encoding=UTF-8
*.md        text eol=lf encoding=UTF-8
*.bat       text eol=crlf
*.sh        text eol=lf
*.yml       text eol=lf

*.cs        text eol=crlf
*.sln       text eol=crlf
*.csproj    text eol=crlf
